.movie-details {
  display: flex;
  padding: 10px;
  background-color: $main-blue;
  color: $main-light;
  .movie-poster {
    width: 30%;
  }
  .general-info {
    padding-left: 10px;
    flex:1;
    .title {
      width: 100%;
      font-size: 1.7rem;
      margin-bottom: 10px;
      text-align: center;
     
    }
    .movie-numbers {
      ul li {
        list-style: none;
      }
    }
  }

  
}


