//Main styles for the movie search form

.search-form {
  width: 100%;
  input {
    width:80%;
    padding: 10px;
    border: none;
    box-shadow: 0 0 ;
    border-radius: 4px 0 0 4px;

   
   
  }
  button {
    padding: 10px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: $main-blue;
    color: $main-light;
  
   
  }

}
