//Main styles for the movie search form

.search-form {
  input {
    width: 70%;
    padding: 10px;
    border: none;
    box-shadow: 0 0 ;
    border-radius: 2px 0 0 2px;

   
   
  }
  button {
    padding: 10px;
    border-radius: 0 2px 2px 0;
    border: none;
    background-color: $main-blue;
    color: $main-light;
  
   
  }

}
