/*General housekeeping*/


//=========Reset============

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

//========Clean-up==========
a, a:hover {
    text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width:100%;
  max-width: 1100px;
  margin: 0 auto;
  
}