@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$main-font: 'Quicksand', sans-serif;
$title-font: 'Bebas Neue', cursive;


$dark-stuff: navajowhite;



